EXPO_PUBLIC_AUTH_URL=http://localhost:8080/api
EXPO_PUBLIC_USER_URL=http://localhost:3003/TRANSMETRO-CONECTA-USUARIO/v1
EXPO_PUBLIC_ADMIN_URL=http://localhost:3001/TCONECTA/v1
EXPO_PUBLIC_CLIENT_URL=http://localhost:3002/TRANSMETRO-CONECTA-CLIENTE/v1
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCIh4Goe3qgb0HSI0bJQ8hSBGzswg9PIMw
