EXPO_PUBLIC_AUTH_URL=https://auth-node-livid.vercel.app/api
EXPO_PUBLIC_USER_URL=https://server-user-pi.vercel.app/TRANSMETRO-CONECTA-USUARIO/v1
EXPO_PUBLIC_ADMIN_URL=https://server-admin-ten.vercel.app/TCONECTA/v1
EXPO_PUBLIC_CLIENT_URL=https://server-client-ecru.vercel.app/TRANSMETRO-CONECTA-CLIENTE/v1
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCIh4Goe3qgb0HSI0bJQ8hSBGzswg9PIMw
